:root{
    --fundo : #d3d3d3; 
    --fonte : font-family: "Playwrite AT", cursive;
    --cor-fonte : #376676;
    --raio : 20px;
    --espaçamento-interno: 15px;
}

body{
    margin: 10px;
    background-color: var(--fundo);
    text-align: center;
    font-family: var(--fonte);
}
img{
    align-items: center;
    border-radius: var(--raio);

}

#btn{
    height: 35px;
    width: 90px;
    text-align: center;
    margin-top: 35px;
    border-radius: var(--raio);

}